.font {
  font-size: 8px;
}

.newProd {
    text-align: center;
    justify-content: flex-start;
}

.buttonCard {
  text-decoration-color: blue;
}

.card-columns {
  @include media-breakpoint-up(md) {
    column-count: 2;
  }
  @include media-breakpoint-up(lg) {
    column-count: 3;
    padding: -5px;
  }
  @include media-breakpoint-up(xl) {
    column-count: 3;
  }
}

.Qrcode {
  cursor: pointer;
  align-items: center;
}
