.messageLeft {
  background-color: lightskyblue;
  padding: 8px;
  margin: 2px;
  margin-left: 42px;
}

.messageOther {
  background-color: lightgrey;
  padding: 8px;
  margin: 2px;
  margin-right: 42px;
}

.messageStyle {
  font-weight: bold;
  color: blue;
}

.inputText {
  border-color: lightgrey;
  height: 35px;
  width:170px;
}
@media (min-width: 576px) {
  .inputText {
    width:350px;
  }
}
